
<div class="w-full h-16 lg:h-24 bg-black mb-12 py-3 px-4 sticky top-0 z-50">
	<div class="max-w-7xl mx-auto flex items-center justify-between h-full">
		<div class="flex items-center">
			<div class="text-4xl"><Span style="color: #f95438;">Weak</Span><span style="color: #279cdb;">Auras</span></div>
		</div>

		<div class="h-full">
			{% if currentUser %}
				{% if currentUser.photo %}
					<img src="{{ currentUser.photo.url }}" alt="" class="h-full w-auto rounded-full border-2 border-green-400">
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>