@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-image: url(http://localhost:8080/assets/images/blob-scene-haikei.svg);
	background-size: cover;
}