{% extends "_layouts/main" %}

{% block content %}
    {% set weakauras = craft.entries.section('weakauras').all() %}
        {% for item in weakauras %}
            {% set versions = item.code.all() %}
            {% set currentVersion = versions|last %}

            <div x-data="weakAura()" class="max-w-7xl mx-auto bg-blue-500 p-4 my-4 flex items-center justify-between">
                <div>
                    <h1>{{ item.title }}</h1>
                    <p>v{{ currentVersion.version }}</p>
                </div>
                <input x-ref="code" type="text" class="hidden" name="code" value="{{ currentVersion.code }}">
                <button @click="copyText" class="border-2 border-black rounded-full px-4 py-2 hover:bg-red-500">Copy WeakAura</button>
            </div>

            <div class="max-w-7xl mx-auto grid grid-cols-12 gap-4">
                <div class="col-span-2 bg-red-500">
                    {% set images = item.images.all() %}
                    {% for image in images %}
                        <img class="w-full mb-2" src="{{ image.getUrl('weakaura') }}" alt="{{ image.title }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
                    {% endfor %}

                    <p>{{ versions|length }} versions</p>
                </div>
                <div class="col-span-10 bg-green-500">
                    <div class="prose md:prose-md lg:prose-lg">
                        {{ item.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    <script>
        function weakAura() {
            return { 
                copyText() {
                    let text = this.$refs.code.value;
                    navigator.clipboard.writeText(text).then(function() {
                        alert('WeakAura copied!');
                    });
                }   
            };
        };
    </script>
{% endblock %}